body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;    
}

.canvas {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.iframe {
    flex-grow: 1;
    margin: 0; 
    border: none; 
    padding: 0;
}